body{
    background-color: lightpink;
}
input{
    margin-top:20px;
    padding:10px 25px;
    font-weight:900;
    background-color: aqua;
}
h1{
    border:5px solid black;
    background-color: tan;
    text-align: center;
}
.quiz{
    display:flex;
    justify-content: space-evenly;
}
.quiz>div{
    background-color: linen;
    border:5px solid black;
    padding:15px;
}
form>input{
    display:block;
    margin-top:5px;
    padding:0px;
    font-weight: bold;
    background-color: lightgrey;
}
.wrong{
    font-weight: 1000;
    background-color: hotpink;
}
.formclass{
    display:none;
}
.right{
    font-weight:1000;
    background-color:mediumspringgreen;
}
.empty, .empty2, .empty3{
    font-size:100px;
}

@media screen and (max-width:680px){
    body{
        background-color: wheat;
    }
    .quiz{
        background-color: thistle;
        flex-direction:column;
    }
    .quiz>div{
        margin:0 auto;
        margin-top:10px;
    }
}